.carousel{
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
}
.ratting{
    color: #41f4fae0;
}

.carousel-control-prev-icon{
    background-color: rgb(19, 220, 246);
    border-radius: 100%;
}
.carousel-control-next-icon{
    background-color: rgb(19, 220, 246);
    border-radius: 100%;
}